.main-image{
    height: 600px;
    width: 600px;
    align: center;
}

.text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #555555;
}

#description {
    font-size: 18px;
    color: #0c0c0c;

}

.subheading{
    font-size: 19px;
    font-weight: 700;
    color: #0c0c0c;
}

.subimage{
    height: 300px;
    width: 400px;
}